*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    --primary-color: #fff;
    --second-color: #e62b4a;
}

body {
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
}

button{
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: #af2239;
}

.container {
    max-width: 1140px;
    margin: 0 auto;    
}

.section {
    text-align: center;
    padding: 90px 0;
   
}

.heading {
    text-align: center;
}
.heading span {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}
.heading h2 {
    font-size: 50px;
    font-weight: 400
}
.heading p {
    font-size: 16px;
    color: #888;
    font-weight: 700;
    margin-top: 20px;
}
header {
    position:absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    z-index: 1;
}
    
header .header_content {
   padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header .header_content .logo {
    font-size: 32px;
}

header .header_content ul li{
    display: inline-block;
    font-size: 17px;
  
    list-style: none; 
    text-transform: uppercase;
}

header .header_content a {
    padding: 8px 26px;
    color: #fff;
    transition: ease .5s;
}

header nav li .active {
    color: #e62b4a;
}
header .header_content a:hover {
    color: #e62b4a;
}

/* BANNER */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    background-image: url(./img/home_slider.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


.banner_content{
    padding-top: 10px;
    color: var(--primary-color);
}

.banner_content h1 {
    line-height: 90px;
    font-size: 75px;
}

.banner_content p {
    font-size: 25px;
}

.banner_scroll i{
    color: var(--primary-color);
    margin-top: 50px;
    font-size: 30px;
    animation: arrowDown 1s linear 0s infinite;
}

@keyframes arrowDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(40px);
    }
}

.service {
    background-color: #000;
    color: var(--primary-color);
    
}
.service .item_bg i {
    font-size: 50px;
}
.service .item_bg{  
    position: relative; 
    background-color: #fff;
    color: #888;
    font-size: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;   
    height: 230px;
    overflow: hidden;
}
.service .item_bg::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: #f00;
    transform:  translateY(-100%);
    transition: all .4s;
    
}

.service .item_bg:hover::after {
    transform: translateY(0);
}

.service_content {
    margin-top: 20px;
}

.slick-dots {
    margin-bottom: -30px;
}


.slick-dots li button:before {
    color: #fff;
    opacity: .4;
    font-size: 13px;
}
.slick-dots li.slick-active button:before {
    color: var(--second-color);
}

/* BLOG */
.blog_content img {
    width: 100%;
    height: 100%;
    filter: grayscale(40%) contrast(50%);
   object-fit: cover;

}
.blog_content {
    padding-top: 50px;
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.blog_content .blog_item.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
   object-fit: contain;
}

.blog_item {
    position: relative;
    overflow: hidden;
}

.blog_content .blog_item.item10 {
    grid-column: 3/ span 2;
    grid-row: 3 / span 2;
}

.overplay {
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overplay .zoomin  a {
    color: #000;
}
.overplay .zoomin {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;

    font-size: 16px;
    transform: translateY(20px);
    opacity: 0;
    transition: all .5s;
}

.overplay .text {
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.blog_item:hover .zoomin, .blog_item:hover .text  {
    transform: translateY(0);
    z-index: 10;
    opacity: 1;
}

.blog_item:hover .overplay {
    opacity: 1;
}


/* NUMBER */
.number {
    background-color: #000;
}

.number_content {
    display: flex;
    color: #fff;
    justify-content: space-around;
}

.number .item p {
    font-size: 60px;
    font-weight: 300;
}
.number .item span {
    font-size: 20px;
    color: #888;
}

/* Digital */
.digital {
    background-image: url(./img/bussiness_img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.digital_content {
    margin-top: 40px;
}

/* CONTACT */
.contact_content {
    display: flex;
    margin-top: 40px;
}
.contact_content .map {
    width: 60%;
}
.contact_content form 
{
    width: 40%;
    background-color: #fff;
}
.contact_content form input , .contact_content form textarea{
    display: block;
    font-size: 15px;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    height: 49px;
    margin-bottom: 30px;
}

.contact_content form textarea {
    height: 180px;
}
.contact_content form button {
   
    width: 100%;
    border: none;
}

.footer {
    background-color: #000;
    padding: 100px 0;
    color: #fff;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .brands a {
    color: #fff;
}

.footer .brands i {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    border-radius: 50%;
    background-color: #888;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    transition: all .5s;
}

.footer .brands i:hover {
    background-color: var(--second-color);
}

.backToTop {
    width: 50px;
    height: 50px;
    background: #e62b4a;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #e62b4a;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}